{% extends "ddlseite/ddl_base.html" %}
{% block title%}Projektdetails{% endblock %}
{% block h1 %}{{ proj_descr.name }}{% endblock %}
{% block body %}
  <img title="{{ proj_descr.name }}" src="{{ proj_descr.image }}" alt=""/>
  <br/><br/>

  <b>Genre:</b>{% for gnr in proj_descr.genre.all %} {% if forloop.revcounter0 %} {{ gnr }}, {% else %} {{ gnr }} {% endif %}{% endfor %}<br/><br/>

  {% for stt in proj_state %}
  <b>Status: <font color="#{{ stt.hexcol }}">{{ stt.stat }}</font></b><br/><br/>
  {% endfor %}

  <b>Fortschritt:</b> {{ proj_descr.progress }} von {{proj_descr.number_of_episodes}}<br/><br/>


  <b><u>Aufgabenverteilung:</u></b><br/>
  {% if who_did %}
    {% for nick in who_did %}
      <b> {{ nick.nick }}:</b> {% for tasks in nick.what.all %} {% if forloop.revcounter0 %} {{ tasks }}, {% else %} {{ tasks }} {% endif %}{% endfor %}<br/>
    {% endfor %}
  {% else %}
    – folgt –
  {% endif %}
  <br/><br/>

  <strong><u>Downloads:</u></strong><br/>

  {% for tab_tit in tabellentitel %}
  {% if tab_tit.table_title_link %}
  <a href="{{ tab_tit.table_title_link }}"><b>{{ tab_tit.table_title_name }}</b></a>
  {% else %}
  <b>{{ tab_tit.table_title_name }}</b>
  {% endif %} 
  {% endfor %}
  <br/>
  {% if dls %}
  <table>
   <tbody>
    <tr bgcolor="#DDDDDD">
     <th>Nr.</th>
     <th>Episodentitel</th>
     <th>Datum</th>
     <th>Dateigröße</th>
     <th>Download</th>
     <th><a href="irc://irc.otakubox.at/SuperSubs/">XDCC</a></th>
    </tr>
  {% for dl in dls %}
    <tr>
     <td>{{ dl.number }}</td>
     <td>{{ dl.title }}</td>
     <td>{{ dl.date|date:"d.m.Y" }}</td>
     <td>{{ dl.filesize }} MiB</td>
     <td><a href="{{ dl.ddl }}">DDL</a> {% if dl.project.torrentbatch %}/ <a href="{{ dl.torrentbatch }}">Batch</a> {% elif dl.torrent %}/  <a href="{{ dl.torrent }}">Torrent</a>{% endif %}</td>
     <td>{{ dl.XDCCYoumu }}</td>
    </tr>
  {% endfor %}
   </tbody>
  </table>
  {% else %}
  Keine Downloads verfügbar.
  {% endif %}
{% endblock body %}
